@import "src/assets/styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  padding: 19px;
  box-shadow: 0 2px 31px 13px rgba(10, 63, 142, 0.08);
  overflow-y: auto;
  margin-bottom: 40px;
  overflow-x: hidden;
  @include smallMobileMedia {
    margin-bottom: 12px;
  }
}