.main {
  background-image: url("../../../public/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

  .title {
    padding: 34px 0 26px;

    h1 {
      font-size: 57px;
      font-weight: 700;
    }

    p {
      font-size: 18px;
      font-weight: 400;
    }
  }
  form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    padding-right: 16px;
    .send {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 50%;
      width: 40px;
      height: 40px;

      &:hover {
        transition: opacity .15s ease-in-out;
        opacity: 0.9;
      }
    }
  }
}